.sign-up{
    &__container{
        margin-top: 100px;
        background-color:  #17044D ;
        mix-blend-mode: overlay;
        border-radius: 5px;
        padding-bottom: 130px;
        // background-image: url(../images/forms-img.png);


    }
    &__heading{
        margin: 0;
        padding: 0;
        padding-top: 115px;
        text-align: center;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    &__desc{
        text-align: center;
        margin: 0;
        padding: 0;
        margin-top: 20px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.7;
    }
    &__forms{
        text-align: center;

    }
    &__input{
        margin-top: 50px;
    padding: 12px 25px;
    width: px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.05em;
    background: #17044D;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.5);
    }





    &__submit{
        padding: 12px 36px;
        background: linear-gradient(265.37deg, #9224D6 -49.74%, #BD87DE 116.53%);
        border-radius: 5px;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        border: none;
    }
}